
body{margin:auto;
padding-left:400px;
background:black;
background-attachment:fixed;}



/*frame class*/
.t1{
border: 1px solid blue;
background:#212121;
padding-left: 100px;
width: 400px;
}


/*img class*/
.k1{
max-width:300px;width:90%;
padding-right: 50px;
}

/*bottom*/
.simple-but{
margin-bottom:7px;
width:70%;
display:block;
border-radius:9px;
background:#0b9600;
font-weight:bold;
color:#d2d2d2;
font-size:70%;
padding:5px 10px 0px;
text-align:center;
height:31px;
}


#but{background-color:#4c4c4c;

}


